name: demo-workflow
on:
  workflow_dispatch:

jobs:
  job0:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "hello world"
  job1:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "hello world"
  job2:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "hello world"
  job3:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "hello world"

